@require "textures";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

size(width, height) {
  width width;
  height height;
}

absolute(left, top) {
  position absolute;
  left: left;
  top: top;
}

.level-1 {
  .user {
    &__run {
      background-image: user_level1_run;
    }

    &__jump-up {
      background-image user_level1_jump_up;
    }

    &__jump-down {
      background-image user_level1_jump_down;
    }
  }

  .animated-object {
    &__ground {
      background-image ground_level1
    }

    &__block {
      background-image block_level1
    }

    &__bonus {
      background-image bonus_level1
    }
  }
}

.level-2 {
  .user {
    &__run {
      background-image user_level2_run;
    }

    &__jump-up {
      background-image user_level2_jump_up;
    }

    &__jump-down {
      background-image user_level2_jump_down;
    }
  }

  .animated-object {
    &__ground {
      background-image ground_level2
    }

    &__block {
      background-image block_level2
    }

    &__bonus {
      background-image bonus_level2
    }
  }
}

.level-3 {
  .user {
    &__run {
      background-image user_level3_run;
    }

    &__jump-up {
      background-image user_level3_jump_up;
    }

    &__jump-down {
      background-image user_level3_jump_down;
    }
  }

  .animated-object {
    &__ground {
      background-image ground_level3
    }

    &__block {
      background-image block_level3
    }

    &__bonus {
      background-image bonus_level3
    }
  }
}

.preload {
  opacity 0;
  position absolute;
  left - 300%
}

#root {
  absolute(0, 0);
  size(100%, 100%);
  overflow: hidden;

  .move-container {
    will-change: transform;
    absolute(0, 0);
    overflow: hidden;
    size(100%, 100%);
  }

  .animated-object {
    absolute(0, auto);
    bottom 0;

    &__ground {
      background-repeat repeat-x;
      background-size auto 100%;
    }

    &__bonus {
      background-repeat no-repeat;
      background-size 100% 100%;
    }
  }

  .user {
    will-change: transform;
    absolute(0, auto);
    bottom 0;
    background-image-repeat: no-repeat;
    background-size 100% 100%;

    &__run {
      animation: play 1s steps(20) infinite;
    }
  }
}

@keyframes play {
  0% {
    background-image: url('/img/girl_sprites/all/run/Run (1).png');
  }
  5% {
    background-image: url('/img/girl_sprites/all/run/Run (2).png');
  }
  10% {
    background-image: url('/img/girl_sprites/all/run/Run (3).png');
  }
  15% {
    background-image: url('/img/girl_sprites/all/run/Run (4).png');
  }
  20% {
    background-image: url('/img/girl_sprites/all/run/Run (5).png');
  }
  25% {
    background-image: url('/img/girl_sprites/all/run/Run (6).png');
  }
  30% {
    background-image: url('/img/girl_sprites/all/run/Run (7).png');
  }
  35% {
    background-image: url('/img/girl_sprites/all/run/Run (8).png');
  }
  40% {
    background-image: url('/img/girl_sprites/all/run/Run (9).png');
  }
  45% {
    background-image: url('/img/girl_sprites/all/run/Run (10).png');
  }
  50% {
    background-image: url('/img/girl_sprites/all/run/Run (11).png');
  }
  55% {
    background-image: url('/img/girl_sprites/all/run/Run (12).png');
  }
  60% {
    background-image: url('/img/girl_sprites/all/run/Run (13).png');
  }
  65% {
    background-image: url('/img/girl_sprites/all/run/Run (14).png');
  }
  70% {
    background-image: url('/img/girl_sprites/all/run/Run (15).png');
  }
  75% {
    background-image: url('/img/girl_sprites/all/run/Run (16).png');
  }
  80% {
    background-image: url('/img/girl_sprites/all/run/Run (17).png');
  }
  85% {
    background-image: url('/img/girl_sprites/all/run/Run (18).png');
  }
  90% {
    background-image: url('/img/girl_sprites/all/run/Run (19).png');
  }
  95% {
    background-image: url('/img/girl_sprites/all/run/Run (20).png');
  }
  100% {
    background-image: url('/img/girl_sprites/all/run/Run (1).png');
  }
}

